body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title-group {
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  padding-bottom: 100px;
}

.title{
    font-size: 4em;
}

.btn-row {
  justify-content: center;
}

.sub-title{
    font-size: 1.5em;
}

.hidden{
  display:none;
}

.page-container {
  position:relative;
  min-height:100vh;
}

.main-container {
  margin-right:auto;
  margin-left:auto;
  padding-top:2em;
  padding-bottom:4rem;
}

.festival-image {
	max-height: 60vh;
	max-width: 100%;
  min-width: 300px;
}

.btn {
  margin:0.2rem;
}

.artist-list {
    list-style-type: none;
    padding:0;
    font-size:1.2rem;
    max-height:100%;
    min-height: 400px;
    overflow-y: scroll;

}

.spotify-login {
  cursor:pointer;
  background-color:#ffc107;
}

.track-list {
    list-style-type: none;
    padding:0;
    font-size:1.2rem;
    max-width: 100%;
    height:400px;
    overflow-y: scroll;
}

.clickable {
  cursor: pointer;
}

.track-player{
  min-width: 300px;
}

.btn-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.track-li {
  margin-bottom: 0.5em;
  background: whitesmoke;
}

.track-content {
  width:500px;
}

.artist-li {
  margin-right: 0.5em;
  margin-bottom: 0.5em;

  background: whitesmoke;
}

.artist-li-content {
  max-width: 90% !important;
  display: inline-block !important;
}

.close {
  float:right;
  margin-right:0.2em;
  cursor:pointer;
}

.artist-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  min-height:500px;
  max-height:100%;
}

.full-height {
  height:100%;
}

.add-btn {
  width:25%;
  margin-left: auto;
}

.add-input {
  width:70% !important;
}

a:not([href]):not([tabindex]) {
    color: white;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover
{
  color:white;
  cursor:pointer;
}

.artist-container-element {
  margin:20px;
  max-width: 100%;
  max-height: 100%;
}

.no-content-text {
  overflow-wrap:break-word;
}

.image-input {
    display:inline-block;
    padding: .375rem .75rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width:100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #495057;
  color: white;
  text-align: center;
  height:3em;
  padding-top: 0.5em;
}

.footer-link{
  color: white;
}

.footer-link:hover 
{
  color: white;  
}

/*
@media only screen and (max-width: 1100px) {
  body {
    padding-bottom: 3rem;
  }
}
*/

@media only screen and (max-width: 600px) {
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #495057;
  color: white;
  text-align: center;
  height:4rem !important;
  padding-top: 0.5rem;
  }

  body {
    padding-bottom: 4rem;
  }
}
